name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  pull-requests: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore src/
      - name: Build
        run: dotnet build src/ --configuration Release --no-restore
      - name: Unit Tests
        run: dotnet test src/Watcher.Runner.Tests.Unit --configuration Release --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByAttribute=CompilerGeneratedAttribute
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./src/Watcher.Runner.Tests.Unit/coverage.opencover.xml
          flags: unit
          fail_ci_if_error: true
